---
import Navbar from '../components/Navbar.astro';
import { useTranslation } from 'next-i18next';

const { t } = useTranslation('common');
---

<html>
  <head>
    <title>{t('blog')}</title>
  </head>
  <body>
    <Navbar />
    <div id="container">
      <main>
        <h1>{t('blog')}</h1>
        <p>{t('blog_content')}</p>
      </main>
    </div>
  </body>
</html>